{% if page.past_articles == "no" %}
  {% assign filtered = site.posts | where_exp: "item","item.categories contains 'Cogito X'" %}
{% else %}
  {% assign filtered = site.posts | where_exp: "item","item.categories contains 'Past Editions'" %}
{% endif %}

{% assign len = filtered | size | minus: 1 | divided_by: 6 %}

<script src="/clamp.min.js"></script>

<div id="desktop-list">
  {% for n in (0..len) %}
    {% assign i = n | times: 6 %}
    <table style="width: 90vw; max-width: 1000px; margin: 0 auto; border-bottom: 1px solid gray; margin-bottom: 1em;" id="table-{{ i }}">
      <tr>
        <td rowspan="2" class="big">
          {% assign page = filtered[i] %}
          {% if page %}
            <div id="box-{{ i }}">
              <a href="{{ site.baseurl }}{{ page.url }}">
                <img src="{{ page.feature_image }}" />
                <h2>{{ page.title }}</h2>
              </a>
            </div>
            {% include post-meta.html %}
            <div class="excerpt" id="excerpt-{{ i }}">{{ page.excerpt }}</div>
          {% endif %}
        </td>
        {% assign i = i | plus: 1 %}
        <td id="box-{{ i }}">
          {% assign page = filtered[i] %}
          {% if page %}
            <a href="{{ site.baseurl }}{{ page.url }}">
              <img src="{{ page.feature_image }}" />
              <h2>{{ page.title }}</h2>
            </a>
            {% include post-meta.html %}
          {% endif %}
        </td>
      </tr>
      {% assign i = i | plus: 1 %}
      <tr>
        <td id="box-{{ i }}" style="vertical-align: bottom;">
          {% assign page = filtered[i] %}
          {% if page %}
            <a href="{{ site.baseurl }}{{ page.url }}">
              <img src="{{ page.feature_image }}" />
              <h2>{{ page.title }}</h2>
            </a>
            {% include post-meta.html %}
          {% endif %}
        </td>
      </tr>
    </table>

    {% assign i = i | plus: 1 %}
    <table style="width: 90vw; max-width: 1000px; margin: 0 auto;">
      <tr>
        {% assign i = i | plus: 1 %}
        <td id="box-{{ i }}">
          {% assign page = filtered[i] %}
          {% if page %}
            <a href="{{ site.baseurl }}{{ page.url }}">
              <img src="{{ page.feature_image }}" />
              <h2>{{ page.title }}</h2>
            </a>
            {% include post-meta.html %}
          {% endif %}
        </td>
        <td rowspan="2" class="big">
          {% assign i = i | minus: 1 %}
          {% assign page = filtered[i] %}
          {% if page %}
            <div id="box-{{ i }}">
              <a href="{{ site.baseurl }}{{ page.url }}">
                <img src="{{ page.feature_image }}" />
                <h2>{{ page.title }}</h2>
              </a>
            </div>
            {% include post-meta.html %}
            <div class="excerpt" id="excerpt-{{ i }}">{{ page.excerpt }}</div>
            <script>
              window.addEventListener("load",_ => {
                var localHeight = document.getElementById("box-{{ i }}").clientHeight;
                var otherHeight = (document.getElementById("box-{{ i | plus: 1 }}").clientHeight + document.getElementById("box-{{ i | plus: 2 }}").clientHeight) * 1.02;
                console.log(localHeight,otherHeight);
                var remHeight = parseFloat(getComputedStyle(document.documentElement).fontSize) * 1.5;
                document.getElementById("excerpt-{{ i }}").firstChild.style["-webkit-line-clamp"] = Math.round((otherHeight - localHeight) / remHeight) - 2;
              });
            </script>
          {% endif %}
        </td>
      </tr>
      <tr>
        {% assign i = i | plus: 2 %}
        <td id="box-{{ i }}">
          {% assign page = filtered[i] %}
          {% if page %}
            <a href="{{ site.baseurl }}{{ page.url }}">
              <img src="{{ page.feature_image }}" />
              <h2>{{ page.title }}</h2>
            </a>
            {% include post-meta.html %}
          {% endif %}
        </td>
      </tr>
    </table>
  {% endfor %}
</div>

<main id="mobile-list" class="main container">
  <section class="section  typeset">
    <ul class="list  list--posts">
      {% for page in filtered %}
        <li class="item  item--post">
          <article class="article  article--post">

            <img src="{{ page.feature_image }}" />
            <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
            {% include post-meta.html %}
            {{ page.excerpt | markdownify | truncatewords: 60 }}

          </article>
        </li>
      {% endfor %}
    </ul>
  </section>
</main>

<style>
  table td.big {
    width: 60%;
  }
  table td {
    padding: 2%;
    padding-top: 0;
    vertical-align: top;
  }
  .excerpt p {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding-bottom: 0.2rem;
    text-align: justify;
    text-justify: inter-word;
  }
  .content {
    width: 100%;
  }
  h2 {
    font-size: 1em;
    font-weight: bold;
  }
  .small {
    padding: 0;
    line-height: normal;
  }

  #mobile-list {
    display: none;
  }
  @media only screen and (max-width: 576px) {
    #mobile-list {
      display: inline;
    }
    #desktop-list {
      display: none;
    }
    .content {
      width: 90vw;
      margin-left: 5vw;
    }
  }
</style>
