{% assign feature_text = page.feature_text %}
{% assign feature_image = page.feature_image %}

{% if feature_text or feature_image %}
  <div class="feature"{% if feature_image %} style="background-image: url({{ feature_image }}); padding-bottom: 0"{% endif %}>
    <div {% if page.blur_feature %}style="backdrop-filter: blur(4px);"{% endif %}>
      <div class="container  typeset"  id="feature-text">
        <h1 style="">{{ feature_text | markdownify }}</h1><br />
      </div>
    </div>
  </div>
{% endif %}

<style>
  #feature-text * {
     color: {{ page.feature_color }};
     font-size: 300%;
     -webkit-text-stroke: 1px black;
  }
</style>
