{% assign feature_text = page.feature_text %}
{% assign feature_image = page.feature_image %}

{% if feature_text or feature_image %}
  <div class="feature"{% if feature_image %} style="background-image: url({{ feature_image }}); padding-bottom: 0"{% endif %}>
    <div>
      <div class="container typeset" id="feature-text" style="height: 50vh; width: 100%; max-width: 100%; margin: 0">
        <h1>{{ feature_text | markdownify }}</h1><br />
      </div>
    </div>
  </div>
{% endif %}

<style>
  #feature-text * {
     color: white;
     font-size: 4.5rem;
     line-height: 1em;
     font-weight: normal;
     text-decoration-thickness: 3px;
     text-underline-offset: 5px;
     margin-bottom: 0;
     text-shadow: 1px 1px black;
  }
  #cogito-xii {
    text-decoration: underline;
  }
  .feature {
    height: 50vh;
  }
  @media only screen and (max-width: 576px) {
    .feature {
      background-attachment: scroll !important;
    }
  }

  {% assign author = page.author %}
  .feature {
    {% if author == "Simon Juknelis" %}background-position-y: 60%;{% endif %}
    {% if author == "Alan Cai" %}background-position-y: 65%;{% endif %}
    {% if author == "Arthi Vithiananthan" %}background-position-y: 40%;{% endif %}
    {% if author == "John Henry Lotz-McMillen" %}background-position-y: 35%;{% endif %}
    {% if author == "Colin Levine" %}background-position-y: 35%;{% endif %}
    {% if author == "Ashley Wang" %}background-position-y: 15%;{% endif %}
  }
</style>
